apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app: feed
  name: feed-service
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 3000
  selector:
    app: feed
  type: LoadBalancer
status:
  loadBalancer: {}
